---
layout: default
---
<div class="hero is-hidden-mobile" style="margin: initial">
    <div class="onyinyes-img">
      <a  href="http://tinypic.com?ref=zknzwk" target="_blank"><img class="img-edit" src="http://i60.tinypic.com/zknzwk.jpg" border="0" style="border-radius: 50%" height="100px" width="100px" alt="Image and video hosting by TinyPic"></a>
    </div>
    <div class="introductory-test">
      <h1 style="margin: initial; color: white;"> EveryDayPeopleByLydia </h1>
      <p style="color: white">inspiring a new <span style="color:#BF55EC"> Generation </span> </p>
    </div>
</div>

<div class="grid">

<div class="categorie-contain navbar" role="navigation" style="margin: initial; float: none; padding-top: 20px; padding-bottom: 40px; text-align:center;">
    <nav class="menu">
      <span class="hello">
        </span>
      
        <ul class="clearfix">
            <li><a href="#">All</a></li>
            <li>
                <a href="#">Categories <span class="arrow">&#9660;</span></a>
 
                <ul class="sub-menu">
                    <li><a href="#">In Cinemas Now</a></li>
                    <li><a href="#">Coming Soon</a></li>
                    <li><a href="#">On DVD/Blu-ray</a></li>
                    <li><a href="#">Showtimes &amp; Tickets</a></li>
                </ul>
            </li>
        </ul>
        
    </nav>
  </div>

  <div class="grid__col--12">
    <ul class="post">
      {% for post in paginator.posts %}
        <li class="post__item">
          <a class="post__title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <div class="post__meta">
            <b class="post__author">{{ post.author }}</b>
            <b class="post__sep">&#x25cf;</b>
            <b class="post__date">{{ post.date | date: "%b %-d, %Y" }}</b>
          </div>

          {{ post.excerpt }}

          <a class="btn--default" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        </li>
      {% endfor %}
    </ul>
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>