<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
<a  href="http://tinypic.com?ref=zknzwk" target="_blank"><img class="img--avatar" src="http://i60.tinypic.com/zknzwk.jpg" border="0" alt="Image and video hosting by TinyPic"></a>      <p>{{ site.description }} <br>
        Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
      </p>
    </div>
  </div>
</footer>
