// ==========================================================================
// Site Logo
// ==========================================================================

.site-logo {
	font-weight: $font-weight--bold;
	font-size: em(20px);
	font-family: 'Sacramento', cursive;
	display: block;
	text-align: center;
	color: $color-primary;
	@include mq(small) {
	  margin-top: 20px;
	  margin-bottom: 20px; 
	}
	@include mq(medium) {
		float: left;
		margin-top: 11px;
	}
}