// ==========================================================================
// Main Header
// ==========================================================================

.main-header {
  @extend %clearfix;
  @include mq(medium)  {
    height: 48px;
    background: palette(grey, lightest);
  }
}

.onyinyes-img {
	padding-top: 260px;
	width: 20%;
	display: inline-block;
	float: left;
}

.img-edit {
	margin-left: 100px;
}

.introductory-test {
	display: inline-block;
	width: 80%;	
	float: left;
	padding-top: 200px;
}

.categorie-contain {
	width: 100%;
	text-align: center;
	padding-top: 100px;
}

.categorie-contain ul li{
	text-decoration: none;
	display: inline-block;
	text-align: center;
	margin: 10px;
}